#header {
	background: none repeat scroll 0 0 #164b2b;
	clear: both;
	color: #164b2b;
	display: block;
	padding-bottom: 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

#header a {
	color: #ffffff;
	text-decoration: none;
}

body {
	background-color: #bbe475;
	font-family: Helvetica;
}

a {
	color: #164b2b
}

pre {
	background-color: inherit;
	border: none;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

.topbar {
	top: inherit;
	z-index: inherit;
}

.topbar-inner,.topbar .fill {
	background-color: #164b2b;
	background-image: -moz-linear-gradient(center top, #164b2b, #164b2b);
	box-shadow: none;
}

.main {
	padding-top: 40px;
}

table th {
	text-align: center;
}
.nav .active {
background-color: rgba(187, 228, 117, 1.0);
}