/* Greenhouse custom styles */
body {
	background-color: #f1ffcc;
	font-family: Helvetica;
}

a {
	color: #164b2b
}

a:hover {
	color: red;
	text-decoration: underline;
}

pre {
	background-color: inherit;
	border: none;
	line-height: 16px;
	margin: 0;
	padding: 0;
	white-space: pre;
}

pre a {
	text-decoration: underline;
}

pre a:hover {
	text-decoration: none;
}

table th {
	text-align: center;
}
