/* Top-most header */
#header {
	background: none repeat scroll 0 0 #164b2b;
	clear: both;
	color: #164b2b;
	display: block;
	padding-bottom: 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

#header a {
	color: #ffffff;
	font-variant: small-caps;
	text-decoration: none;
}

/* Overridding Bootstrap navbar*/
.navbar {
	position: absolute; top : inherit;
	z-index: inherit;
	top: inherit;
}

.navbar-inner,.topbar .fill {
	background-color: #164b2b;
	background-image: -moz-linear-gradient(center top, #164b2b, #164b2b);
	box-shadow: none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: #164b2b;
}

title {
	font-variant: small-caps;
}

.dropdown-menu li > a:hover {
	background-color: #164b2b;
}	

/* Greenhouse custom styles */
body {
	background-color: #ebffb4;
	font-family: Helvetica;
}

.main {
	padding-top: 40px;
	margin-top: 1em;
}

a {
	color: #164b2b
}

a:hover {
	color: red;
	text-decoration: underline;
}

pre {
	background-color: inherit;
	border: none;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

pre a {
	text-decoration: underline;
}

pre a:hover {
	text-decoration: none;
}

table th {
	text-align: center;
}align: center;
}r;
}